[user]
	email = vexr2dts85338@gmail.com
	name = Dalmontron05
[init]
	defaultBranch = main
[credential]
	helper = store
[pull]
	ff = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /home/dalmontron/.mnt/hdd/
	directory = /home/dalmontron/.mnt/hdd/max_game
	directory = /home/dalmontron/.mnt/hdd/unreal-engine-5/unreal-engine
